/* ======================================
   GLOBAL LAYOUT
====================================== */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    height: 100vh;
}

/* Header */

.header {
    height: 60px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Main Layout */

.main-container {
    display: grid;
    grid-template-columns: 260px 1fr 300px;
    height: calc(100vh - 60px);
}

/* Sidebar */

.sidebar {
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    margin-top: 15px;
}

/* Graph Area */

.graph-area {
    position: relative;
}

/* Graph Canvas */

#graphCanvas {
    width: 100%;
    height: 600px;
    background: white;
}

/* Log Panel */

.log-panel {
    background: white;
    border-left: 1px solid #ddd;
    padding: 20px;
}

#logList {
    margin-top: 10px;
    list-style: none;
}

#logList li {
    margin-bottom: 5px;
}

.sidebar,
.log-panel {
    overflow-y: auto;
}

.top-toolbar {
    display: flex; /* yatay düzen */ 
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background: #f4f6f8;
    border-bottom: 1px solid #ddd;
}

.toolbar-btn {
    background: #3a86c4;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 14px;
    width: auto;       /* full width olmasını engeller */
    min-width: 90px;   /* çok küçülmesini engeller */
    cursor: pointer;
}

.toolbar-btn:hover {

background: #2980b9;

}

.speed-control {
display: flex;
align-items: center;
gap: 8px;
margin-left: auto;
width: 220px;
flex-shrink: 0; /* küçülmeyi engeller */
}